<% if @comment.present? %>
  <div class="max-w-2xl mx-auto px-4 mt-5">
    <div class="flex justify-between items-center mb-6">
      <p class="text-lg lg:text-2xl font-bold text-gray-900 -ml-4">
        Comments
      </p>
    </div>
  </div>
  <div class="comments -mt-6">
    <%= render @comments %>
    <%= paginate @comments %>
  </div>
</div>
<% end %>
