<div class="relative py-3 mx-auto max-w-lg my-4">
  <div class="max-w-lg rounded overflow-hidden shadow-lg p-20 mb-80">
    <%= render partial: "comment", locals: { comment: @comment } %>
  </div>
</div>
