<div class="max-w-lg rounded overflow-hidden shadow-xl p-10 mb-10">
  <p class="text-xl font-bold mb-2"><%= article.title %> </p>
  <p class="text-gray-700"><%= article.content %> </p>
  <p class="text-gray-700 float-right">
    <%= link_to t(".edit_article"), edit_article_path(article.id),
    class: "border-b-2 border-purple-500 border-opacity-0
    hover:border-opacity-100 hover:text-purple-500
    duration-200 cursor-pointer active"%>
  </p>
</div>
