<div class="relative py-3 mx-auto max-w-lg my-4">
  <div class="max-w-lg rounded overflow-hidden shadow-lg p-20 mb-80">
    <div class="card-header py-3">
      <h1 class="font-bold uppercase text-2xl">
        <p><%= @article.title %></p>
      </h1>
    </div>

    <p><%= @article.content %></p>
    <div class="space-y-4 flex text-center">
      <%= link_to "Edit", edit_article_path(@article),
        class: "purple-btn w-96" %>
    </div>
  </div>
</div>
