@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .email-input {
    @apply border w-full h-5 px-3 py-5 mt-2 hover:outline-none 
    focus:outline-none focus:ring-indigo-500 focus:ring-1 rounded-md;
  }
  .password-input {
    @apply border w-full h-5 px-3 py-5 mt-2 hover:outline-none 
    focus:outline-none focus:ring-indigo-500 focus:ring-1 rounded-md;
  }
  .purple-btn {
    @apply mt-4 bg-purple-500 text-white py-2 px-6 rounded-md
    hover:bg-purple-600;
  }
  .new-signin-form {
    @apply relative flex min-h-screen text-gray-800 antialiased 
    flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12;
  }
  .flash-notice {
    @apply bg-green-300 text-green-900;
  }
  .flash-alert {
    @apply bg-red-300 text-red-900;
  }
  .flash {
    @apply bg-red-100 border border-red-400 text-red-700
    px-4 py-3 w-fit rounded relative;
  }
  .form_error {
    @apply text-red-400;
  }
  .center-div {
    @apply flex justify-center items-center mt-6;
  }
}

