<% if flash.any? %>
  <div class="center-div">
    <div role="alert">
      <% user_facing_flashes.each do |key, value| -%>
        <div class="font-bold <%= key == 'notice' ? 'flash-notice' :
          'flash-alert' %>"><%= value %>
        </div>
      <% end -%>
    </div>
  </div>
<% end %>
